# ***Procedural Programming***

Problem: Write a Python program that asks the user for two numbers and then prints the sum, difference, product, and quotient.

In [10]:
num1 = int(input("Please Enter First Number"))
num2 = int(input("Please Enter Second Number"))
def add(num1 , num2):
    return num1 + num2

def substract(num1 , num2):
    return num1 - num2

def multiply(num1 , num2):
    return num1 * num2

def divide(num1 , num2):
    return num1 / num2

print(f"addtion is {add(num1,num2)}") 
print(f"substract is {substract(num1,num2)}") 
print(f"multiply is {multiply(num1,num2)}") 
print(f"divide is {divide(num1,num2)}")

Please Enter First Number 1
Please Enter Second Number 3

addtion is 4
substract is -2
multiply is 3
divide is 0.3333333333333333

Write a Python program that takes an integer from the user and determines whether it is even or odd.

In [15]:
num = int(input("Please Enter any Number"))
def even_odd(num):
    if num % 2== 0:
        print(f"This number is even {num}")
    else:
        print(f"This number is odd {num}")
        
even_odd(num)

Please Enter any Number 3

This number is odd 3

Write a Python program that takes three numbers as input and prints the largest of the three.

In [39]:
num1 = int(input("Please Enter First Number"))
num2 = int(input("Please Enter Second Number"))
num3 = int(input("Please Enter third Number"))
# li = [num1,num2,num3]
def largest(num1,num2,num3):
    li = [num1,num2,num3]
    max_num = li[0]
    for i in li:
        if i > max_num:
           max_num = i
    return max_num
    

largest(num1,num2,num3)

Please Enter First Number 67
Please Enter Second Number 33
Please Enter third Number 22

67

 Write a Python program that calculates the sum of all natural numbers up to a given number.

In [46]:
inp = int(input("Enter any natural number"))
start = 0
for i in range(1,inp+1):
    start += i
    

print(f"The sum of natural numbers up to {inp} is: {start}")

Enter any natural number 4

The sum of natural numbers up to 4 is: 10

Write a Python program to find the factorial of a given number using a loop.

In [58]:
inp = int(input(" enter number to factorial...."))
n = 1
for i in range(1, inp+1):
     n *= i

print(f"the factorail of your number {inp} is {n}")

 enter number to factorial.... 9

the factorail of your number 9 is 362880

Write a Python program that counts the number of vowels in a given string.

In [68]:
inp = input(" enter your text....").lower()
vowel = "aeiou"
count = 0
for char in vowel:
    if char in vowel:
        count += 1

print(f"The number of vowels in the string is: {count}")

 enter your text.... aervhg iougvf cdrej

The number of vowels in the string is: 5

Write a Python program that prints the following triangle pattern for a given number of rows:

In [106]:
num = int(input("enter any number...."))
for i in range(1, num+1):
    for j in range(i):
        print("*", end= " ")
    print()

for i in range(num-1, 0,-1):
    for j in range(i):
        print("*", end= " ")
    print()

enter any number.... 9

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Write a Python program that checks whether a given number is a prime number.

In [132]:
number = int(input("Enter any number....."))

Enter any number..... 6

range(2, 10)

Write a Python program to reverse a string entered by the user.

In [144]:
first_letter = input("Enter first letter...")
second_letter = input("Enter second letter...")
temp = first_letter
first_letter = second_letter
second_letter = temp
print(f"first name {first_letter}")
print(f"second name {second_letter}")

Enter first letter... afra
Enter second letter... siddiqui

first name siddiqui
second name afra

In [143]:
string = input("enter string....")
reverse_string = string[::-1]
reverse_string

enter string.... afra siddiqui

'iuqiddis arfa'

In [170]:
number = int(input("enter the number...."))
if number > 1:
    for i in range(2, int(number**0.5)+1):
        if number%i == 0:
            print(f"{number} is a composit number")
            break
else:
   print(f"{number} is a prime number")
# else:
#     print("please number greater than 1")

enter the number.... 33

33 is a composit number

In [168]:
# Task 9: Check for Prime Number
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number.")
            break
    else:
        print(f"{num} is a prime number.")
# else:
#     print(f"{num} is not a prime number.")

Enter a number:  3

3 is a prime number.

Write a Python program that converts a temperature given in Celsius to Fahrenheit.

In [5]:
# Fahrenheit=(Celsius×9/5)+32
Celsius = int(input("Enter Celsius vaue to convert..."))
def conversion(Celsius):
    Fahrenheit=(Celsius*9/5)+32
    return Fahrenheit

print(f"{Celsius}°C is equal to {conversion(Celsius)}°F")

Enter Celsius vaue to convert... 78

78°C is equal to 172.4°F

Write a Python program that checks whether a number is positive, negative, or zero.

In [9]:
number = int(input("Write any number.."))
def check_num(number):
    if number > 0:
        print(f"{number} is positive")
    elif number < 0:
        print(f"{number} is negative ")
    else:
        print(f"{number} is zero ")


check_num(number)

Write any number.. 0

0 is zero

Calculate the Area of a Circle

In [11]:
# Area=π×radius 
radius = int(input("Enter radius to get area..."))
def circle_radius(radius):
    Area=3.142*radius**2
    return Area
    

print(f"The area of the circle from given {radius} is {circle_radius(radius)}")

Enter radius to get area... 67

The area of the circle from given 67 is 14104.438

Write a Python program that counts down from a given number to zero.

In [15]:
number = int(input("Enter any number..."))
for i in range(number,-1,-1):
    print(i)

Enter any number... 10

10
9
8
7
6
5
4
3
2
1
0

Write a Python program that finds the sum of all even numbers from 1 to a given number.

In [34]:
number = int(input("Enter any number..."))
def count_even_num(number):
    if number%2 == 0:
      print(f"{number} is even..")
    for i in range(0, number,-2):
            print(i)
    else:
        print(f"{number} is odd..")
        

count_even_num(number)

Enter any number... 14

14 is even..
14 is odd..

In [37]:
number = int(input("Enter any number..."))
 sum = 0
if number % 2 == 0:
    for i in range(2,number,2):
        print(i+1)
else:
    print(f"{number} is not even")

Enter any number... 16

3
5
7
9
11
13
15

Write a Python function that takes a nested list and returns a flattened version of the list.

Write a Python function that extracts specific keys from a nested dictionary and returns a new dictionary with only those keys.

In [19]:
nested_dict = {
    'name': 'Alice',
    'details': {
        'age': 30,
        'address': {
            'city': 'Wonderland',
            'zip': '12345'
        }
    },
    'email': 'alice@example.com',
    'phone': '123-456-7890'
}
# keys_to_extract = ['name', 'zip', 'email']
def extract_key(nested_dict):
    for key , value in nested_dict.items():
        zip_value = nested_dict["details"]["address"]["zip"].replace("12345","9876")
        name_value = nested_dict["name"].replace("Alice","Afra Siddiqui")
        email_value = nested_dict["email"].replace("alice@example.com","absd@example.com")
        print(zip_value,name_value,email_value)
        print(nested_dict.update())

extract_key(nested_dict)

9876 Afra Siddiqui absd@example.com
None
9876 Afra Siddiqui absd@example.com
None
9876 Afra Siddiqui absd@example.com
None
9876 Afra Siddiqui absd@example.com
None

In [16]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
def replace_keys_values(nested_dict, keys, new_value):
    for k, v in nested_dict.items():
        if k in keys:
            nested_dict[k] = new_value
        elif isinstance(v, dict):
            replace_keys_values(v, keys, new_value)
    return nested_dict

# Example usage
nested_dict = {
    'a': 1,
    'b': {'c': 2, 'd': {'e': 3}},
    'f': 4
}
keys_to_replace = ['a', 'e']
print(replace_keys_values(nested_dict, keys_to_replace, a='52', b="78"))

TypeError: replace_keys_values() got an unexpected keyword argument 'a'

Create a dictionary representing a shopping list with items as keys and their quantities as values. Then, add a new item to the list, update the quantity of an existing item, and remove an item.

In [8]:
shopping_list = {
    "apples": 4,
    "bananas": 6,
    "oranges": 3
}
def add_list(shopping_list):
    shopping_list.pop("bananas")
    shopping_list.update({"apples": 75})
    shopping_list.update({"mango": 6})
    return shopping_list

add_list(shopping_list)

{'apples': 75, 'oranges': 3, 'mango': 6}

In [10]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Given a tuple containing the names of students, access the second and fourth students. Then, create a new tuple by adding a new student to the original tuple.

In [14]:
students = ("John", "Jane", "Tom", "Emily", "Michael")
new_tuple = ("Afra", "Siddiqui")
def update_tuple(students,new_tuple):
    second_student = students[2]
    fourth_student = students[4]
    new = students + new_tuple
    print(new)
    print(second_student)
    print(fourth_student)

update_tuple(students,new_tuple)

('John', 'Jane', 'Tom', 'Emily', 'Michael', 'Afra', 'Siddiqui')
Tom
Michael

Task:
Create a list of numbers and perform the following operations:

Append a number to the list.
Remove a specific number from the list.
Sort the list in ascending order.
Find the maximum and minimum values in the list.

In [46]:
# Append a number to the list. 
numbers = [0,5, 3, 8, 1, 9, 2]
new = [34,56,78]
add = numbers + new
add.append(67)
print(add)

# Remove a specific number from the list.
add.remove(78)
print(add)

# Sort the list in ascending order.
numbers.sort(reverse=False)
print(numbers)
add.sort(reverse=False)
print(add)

# maximum and minimum values in the list
def maximum(add):
    start = 0
    max_value = add[0]
    for i in add:
        if i > max_value:
            max_value = i
    return max_value

print(f"maximmum value is {maximum(add)}")

def minimmum(add):
    start = 0
    max_value = add[0]
    for i in add:
        if i < max_value:
            max_value = i
    return max_value

print(f"minimum value is {minimmum(add)}")

[0, 5, 3, 8, 1, 9, 2, 34, 56, 78, 67]
[0, 5, 3, 8, 1, 9, 2, 34, 56, 67]
[0, 1, 2, 3, 5, 8, 9]
[0, 1, 2, 3, 5, 8, 9, 34, 56, 67]
maximmum value is 67
minimum value is 0

Create a list of words and count how many times each word appears in the list using a dictionary.

Given a list of tuples where each tuple contains a student's name and grade, convert this list into a dictionary with names as keys and grades as values.

In [48]:
student_grades = [("John", 85), ("Jane", 92), ("Tom", 78), ("Emily", 89)]

def conversion(student_grades):
    convert = dict(student_grades)
    return convert
    #print(student_grades)

conversion(student_grades)

{'John': 85, 'Jane': 92, 'Tom': 78, 'Emily': 89}

# ***Object Oriented Programming***

In [2]:
# Creating class
class Student:
    name = "Afra Siddiqui"  # This is an attribute

# Creating an object (instance)
s1 = Student()
s1
s1.name

'Afra Siddiqui'

In [9]:
# Creating class
class Student:
    # Creating our own methods like this
    def printing(self):
        self.name = "Afra Siddiqui"  # This is an attribute
        #return name

# Creating an object (instance)
s1 = Student()     # It gives one argument which self
s1
s1.printing()
s1.name

'Afra Siddiqui'

In [12]:
# Creating class
class Student:
    # Creating initializing constractor which will always run with object
    def __init__(self):
        self.quote = "this my init constractor......"
        
    # Creating our own methods like this
    def printing(self):
        self.name = "Afra Siddiqui"  # This is an attribute
        #return name

# Creating an object (instance)
s1 = Student()     # It gives one argument which is self
s1
#s1.printing()
#s1.name
s1.quote

'this my init constractor......'

In [17]:
quote = input("Enter your quote....")
name = input("Enter your name....")
# Creating class
class Student:
    # Creating initializing constractor which will always run with object
    def __init__(self,quote):
        self.quote = quote
        
    # Creating our own methods like this
    def printing(self,name):
        self.name = name  # This is an attribute
        #return name

# Creating an object (instance)
s1 = Student(quote)     # It gives one argument which is self
s1
s1.printing(name)
s1.name
#s1.quote

Enter your quote.... fgjguk
Enter your name.... fjgukllkjnkjkjkjk

'fjgukllkjnkjkjkjk'

In [22]:
# Creating class
class Student:
    # This is called as class attribute 
    my_program = "This is Object Oriented Programming in python" 
    def my_name(self):
        # This is called as obj attribute or instance attribute
        self.name = "Afra Siddiqui"  # This is an attribute

# Creating an object (instance)
s1 = Student()
s1
s1.my_name()
s1.name
s1.my_program

'This is Object Oriented Programming in python'

#### create class that takes 3 subject name and marks as argument amd create method to shoe average

In [32]:
student_1_subject = input("Enter your Subject marks....")
student_2_subject = input("Enter your Subject marks....")
student_1_marks = int(input("Enter your Subject marks...."))
student_2_marks = int(input("Enter your Subject marks...."))

class Students:
    def __init__(self, student_1_subject, student_2_subject, student_1_marks, student_2_marks):
        self.student_1_subject = student_1_subject
        self.student_2_subject = student_2_subject
        self.student_1_marks = student_1_marks
        self.student_2_marks = student_2_marks

    def average(self, student_1_subject, student_2_subject,  student_1_marks, student_2_marks):
        averages =  (self.student_1_marks + self.student_2_marks)/2
        return f"The average of {self.student_1_subject} and {self.student_2_subject} subjects is {averages}"


        
stud = Students(student_1_subject, student_2_subject, student_1_marks, student_2_marks)
stud
stud.average(student_1_marks, student_2_marks,student_1_subject, student_2_subject)

Enter your Subject marks.... english
Enter your Subject marks.... maths
Enter your Subject marks.... 67
Enter your Subject marks.... 56

'The average of english and maths subjects is 61.5'

In [32]:
student_1_subject = input("Enter your Subject marks....")
student_2_subject = input("Enter your Subject marks....")
student_1_marks = int(input("Enter your Subject marks...."))
student_2_marks = int(input("Enter your Subject marks...."))

class Students:
    def __init__(self, student_1_subject, student_2_subject, student_1_marks, student_2_marks):
        self.student_1_subject = student_1_subject
        self.student_2_subject = student_2_subject
        self.student_1_marks = student_1_marks
        self.student_2_marks = student_2_marks

    def average(self, student_1_subject, student_2_subject,  student_1_marks, student_2_marks):
        averages =  (self.student_1_marks + self.student_2_marks)/2
        return f"The average of {self.student_1_subject} and {self.student_2_subject} subjects is {averages}"


        
stud = Students(student_1_subject, student_2_subject, student_1_marks, student_2_marks)
stud
stud.average(student_1_marks, student_2_marks,student_1_subject, student_2_subject)

Enter your Subject marks.... english
Enter your Subject marks.... maths
Enter your Subject marks.... 67
Enter your Subject marks.... 56

'The average of english and maths subjects is 61.5'

In [35]:
class Students:
    def __init__(self,name , marks):
        self.name = name
        self.marks = marks
        
    def average(self):
        sum = 0
        for val in self.marks:
            sum += val
        return f"The average of {self.name} subjects is {sum/3}"


        
stud = Students("Afra Siddiqui",[67,56,89])
stud
stud.average()

'The average of Afra Siddiqui subjects is 70.66666666666667'

### *Static Methods*

In [37]:
class Students:
    def __init__(self,name , marks):
        self.name = name
        self.marks = marks

    @staticmethod      # decorator
    def hello():
        print("this is my static methods.....")
        
    def average(self):
        sum = 0
        for val in self.marks:
            sum += val
        return f"The average of {self.name} subjects is {sum/3}"


        
stud = Students("Afra Siddiqui",[67,56,89])
stud
stud.average()
stud.hello()

this is my static methods.....

#### Create class with two attribute (balance & account no.). create method for debit, cridet, and print balance amount.

In [53]:

class Bank:
    current_amount = 5000
    def __init__(self):
        self.debit_amount = debit_amount
        self.credit_amount = credit_amount

    def credit(self):
        credit_amount = int(input("Enter your amount which you want to credit... "))
        self.current_amount += credit_amount 
        return f"You credit {credit_amount} and your balance is {self.balance()}"

    def debit(self):
        debit_amount = int(input("Enter your amount which you want to debit... "))
        self.current_amount -= debit_amount
        return f"You debit {debit_amount} and your balance is {self.balance()}"

    def balance(self):
        return self.current_amount

bank = Bank()
bank
bank.credit()
bank.debit()

Enter your amount which you want to credit...  1000
Enter your amount which you want to debit...  1500

'You debit 1500 and your balance is 4500'

In [56]:
class Bank:
    current_amount = 5000
    def __init__(self):
        self.debit_amount = debit_amount
        self.credit_amount = credit_amount

    def credit(self):
        credit_amount = int(input("Enter your amount which you want to credit... "))
        self.current_amount += credit_amount 
        return f"You credit {credit_amount} and your balance is {self.balance()}"

    def debit(self):
        debit_amount = int(input("Enter your amount which you want to debit... "))
        self.current_amount -= debit_amount
        return f"You debit {debit_amount} and your balance is {self.balance()}"

    def balance(self):
        return self.current_amount

bank = Bank()
bank
del bank.credit_amount                   # del can delete attribute from class
#bank.debit()
bank.credit_amount

AttributeError: 'Bank' object has no attribute 'credit_amount'

In [7]:
class Account:
    def __init__(self, acc_no , acc_pass):
        self.acc_no = acc_no
        self.__acc_pass = acc_pass             # __acc_pass using __ in start make the attribute private

account = Account("12345" ,"abcd")
account
account.acc_no
account.acc_pass

AttributeError: 'Account' object has no attribute 'acc_pass'

In [46]:
new_pass = input("Enter your new passward......")
class Account:
    def __init__(self, acc_no , acc_pass):
        self.acc_no = acc_no
        self.__acc_pass = acc_pass             # __acc_pass using __ in start make the attribute private

    def passward(self,acc_pass,new_pass):
        self.acc_pass = acc_pass
        print(f"Now yorold passwrd is {self.acc_pass} and now new passward is {self.new_passward(new_pass)}")

    def new_passward(self,new_pass):
        self.new_pass = new_pass
        return f"new passwrd {self.new_pass}"

account = Account("12345" , "abcd")
account
# account.acc_no
# account.new_passward(new_pass)
account.passward("dfghfhgj",new_pass)
account.acc_pass
# account.new_passward(new_pass)

Enter your new passward...... dfff

Now yorold passwrd is dfghfhgj and now new passward is new passwrd dfff

'dfghfhgj'

## ***Inheritance***

#### types of inheritance.....
#### 1) Single Inheritance
#### 2) Multi-Level Inheritance
#### 3) Muiltiple Inheritance

In [58]:
#              ============================ Single Inheritance ===============================

class Greet:
    def welcome(self):
        return f"Ohhh.....! What a great dayy....."

    @staticmethod
    def hello():
        return f"Stay Strong!!!!!"

class Person(Greet):
    def hey(self,name):
        self.name = name


# greet = Greet()
# greet
person = Person()
person.hello()
person.welcome()
person.hey("Afra siddiqui")
person.name

'Afra siddiqui'

In [62]:
#              ============================ Multi-Level Inheritance ===============================

class Greet:
    def welcome(self):
        return f"Ohhh.....! What a great dayy....."

    @staticmethod
    def hello():
        return f"Stay Strong!!!!!"

class Person(Greet):
    def hey(self,name):
        self.name = name


class Student(Person):
    def student_one(self,name):
        self.name = name


# greet = Greet()
# greet
person = Person()
person.hello()
person.welcome()
person.hey("Afra siddiqui")
person.name
student = Student()
student.student_one("Ayesha")
student.hello()
student.hey("Fatima")
student.name

'Fatima'

In [70]:
#              ============================ Muiltiple Inheritance ===============================

class A:
    std_A = "I am belongs to class A..."

class B:
    std_B = "I am belongs to class B..."

class C:
    std_C  = "I am belongs to class C..."

class D:
    std_D = "I am belongs to class D..."

class Inherite(A,B,C,D):
    stud_E = "I am belongs to class E..."

combine = Inherite()
combine.std_B
combine.std_D
combine.std_A
combine.std_C
combine.stud_E

'I am belongs to class E...'

In [86]:
#              ============================ Super Method ===============================

class Greet:
    def welcome(self):
        return f"Ohhh.....! What a great dayy....."

    @staticmethod
    def hello():
        return f"Stay Strong!!!!!"

class Person(Greet):
    def hey(self,typ):
        self.typ = typ


class Student(Person):
    def student_one(self,name,typ):
        self.name = name
        super().hey(typ)
        super().welcome()
        


# greet = Greet()
# greet
person = Person()
# person.hello()
# person.welcome()
person.hey("Afra siddiqui")
person.typ
student = Student()
student.student_one("adguuik",1234)
student.name
student.welcome()
# student.student_one("Ayesha")
# student.hello()
# student.hey("Fatima")
# student.name

'Ohhh.....! What a great dayy.....'

In [93]:
class Person:
    my_name = "Afra Siddiqui"

    @classmethod
    def hey(cls,name):
        cls.name = name



person = Person()
person.hey("Ayesha")
person.my_name
person.name
Person.my_name

'Afra Siddiqui'

# ***Polymorphism***

In [106]:
#              ============================ OOperator & Damder ===============================

class Complex:
    def __init__(self,real_num,img_num):
        self.real_num = real_num
        self.img_num = img_num

    def show_number(self):
        print(self.real_num,"i * ",self.img_num,"j")

    def __add__( number1 , number2):
        sum_real = number1.real_num + number2.real_num
        sum_img = number1.img_num + number2.img_num 
        return Complex(sum_real,sum_img)

    def __sub__( number1 , number2):
        sum_real = number1.real_num - number2.real_num
        sum_img = number1.img_num - number2.img_num 
        return Complex(sum_real,sum_img)

    def __mul__( number1 , number2):
        sum_real = number1.real_num * number2.real_num
        sum_img = number1.img_num * number2.img_num 
        return Complex(sum_real,sum_img)
        
number1 = Complex(2,6)  
number1.show_number()

number2 = Complex(7,8)  
number2.show_number()

print("Now their sum is")

number3 = number1 * number2
number3.show_number()

2 i *  6 j
7 i *  8 j
Now their sum is
14 i *  48 j

# ***Practice OOP***

#### Define a circle class to create a circle with radius r using constractor. create method Area()and Parameter() to claculate area and parameter.

In [109]:
import math
radius = int(input("Enter an radius of circle"))

class Circle:
    def __init__(self,radius):
        self.radius = radius

    def area(self):
        area = math.pi*self.radius**2
        print(f"The area of the circle is {area}")

    def parameter(self):
        parameter = 2*math.pi*self.radius
        print(f"The parameter of the circle is {parameter}")

circle = Circle(radius)
circle
circle.area()
circle.parameter()

Enter an radius of circle 4

The area of the circle is 50.26548245743669
The parameter of the circle is 25.132741228718345

##### Define employee class with attribute salary ,role ,deaparment. This class also showdetail method.Creat an engineer class that inherite the properties from employee and has additional property like age and name.

In [120]:
class Employee:
    def __init__(self,role,department,salary):
        self.role = role
        self.department = department
        self.salary = salary


class Engineer(Employee):
    def __init__(self,name,age):
        self.name = name
        self.age = age
        super().__init__("student","Engineering","3500")

    def show_details(self):
        print(f"Hii!!! My name is {self.name} and my age is {self.age} my role is {self.role} and my department {self.department} and my salary is {self.salary}")

    

employee = Engineer("afra",34)
employee.show_details()

Hii!!! My name is afra and my age is 34 my role is student and my department Engineering and my salary is 3500

#### Create a class named order which store items and price. use Dunder function to get expensive item amoing them.

In [137]:
class Order:
    def __init__(self,item,price):
        self.item = item
        self.price = price

    def __gt__(price1,price2):
          return  price1.price > price2.price

order1 = Order("chips",8)
order2 = Order("tea", 50)
orders = order1 > order2
orders

58